@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #475573;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background: #47557300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header {
    background: #A1717E;
    padding: 20px;
    box-shadow: 0 6px 10px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 20px;
    background: #283042;
    padding: 20px 50px;
    box-shadow: 0 6px 10px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.main-content {
    margin-top: 150px;
}

section {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    box-sizing: border-box;
}

section h1 {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #283042;
    color: #475573;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
}

section p {
    color: #283042;
    margin-left: 20px;
    background: green;
    margin-bottom: 10%;
}

/* #workshops {
    display: flex;
    flex-direction: column;
    height: 400vh;
} */

/* #resultaten {
    display: flex;
    flex-direction: column;
    height: 400vh;
} */

section section {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 50px;
    font-weight: 800;
    color: #283042;
}

section section h3{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #283042b4;
    color: #475573;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
}

.logo {
    color: #fff;
    background: #A1717E;
    font-size: xx-large;
    font-weight: 800;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 10px;
    background: #A1717E;
}

header nav a{
    text-decoration: none;
    padding: 12px 20px;
    color: #6d4a53;
    background: #A1717E;
    font-size: large;
    font-weight: 500;
}

header nav a.active {
    font-weight: 700;
    color: #fff;
}

.sidenav nav {
    display: flex;
    flex-direction: column;
    background: #283042;
}

.sidenav nav ul {
    list-style: none;
    background: #283042;
}

.sidenav nav ul li {
    background: #283042;
    margin-bottom: 5px;
}

.sidenav nav ul li a {
    color: #7A8CB2;
    background: #283042;
    text-decoration: none;
    font-size: medium;
    margin: 10px;
}

.sidenav nav a.active {
    color: #fff;
    font-weight: bold;
}

.sidenav .sub-level {
    padding-left: 30px;
    background: #283042;
}

.sidenav .sub-level li {
    margin-bottom: 1px;
}

.sidenav .sub-level li a {
    color: #7A8CB2;
    text-decoration: none;
    margin: 1px 0;
    font-size: small;
    font-style: italic;
}

.sidenav .sub-level li a.active {
    font-weight: normal;
    color: #fff;
}